@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

nav {
  width: 100%;
  min-width: 1180px;
  height: 50px;
  background-color: $black-main;
  color: white;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  z-index: 99;

  span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;

    &:nth-last-of-type(1) {
      color: #E73273;
    }

    &:nth-last-of-type(2) {
      color: #9e1fda;
    }
  }
}

main {
  min-width: 1100px;
  background: linear-gradient(#722a54 0%, #511e5b 53.99%, $background 100%);

  #canvas {
    border-radius: 8px;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .control-bar {
    padding: 10px 0;
    display: inline-flex;
    justify-content: space-between;
    margin: 12px 0 4px 0;

    .btn {
      margin-right: 0.5rem;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  .start-game-btn {
    position: absolute;
    width: 50px;
    height: 2rem;
    bottom: 0px;
    left: calc(49vw - 15px);
    background-color: $magenta;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 5px;
  }

  .finish-tips {
    position: absolute;
    left: 48vw;
    bottom: 20px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
}

.alert-one {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.alert-three {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 90px;
  padding: 0.5rem;
  background-color: black;
  border-radius: 5px;
  opacity: 0.8;
  animation: animate 1s;
}

footer {
  padding: 50px 0;
  text-align: center;
  color: #BDBDBD;
  background-color: $background;

  .logo {
    width: 100px;
    margin-bottom: 10px;
  }

  p {
    font-size: 0.8rem;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.alert-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2rem;
  padding: 0 8px;
  background-color: black;
  opacity: 0.8;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  animation: animate 1s;
}

@keyframes animate {
  from {
    top: 10%;
    opacity: 0
  }
  to {
    top: 0%;
    opacity: 1
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.alert-two {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 90px;
  padding: 0.5rem;
  background-color: black;
  border-radius: 5px;
  opacity: 0.8;
  animation: animate 1s;
}

.alert-two p {
  word-break: break-word;
  line-height: 1rem;
  color: white;
}

.confirm-button {
  float: right;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  background-color: #E73273;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  outLine: none;
}

button {
  cursor: pointer;
}

.btn {
  color: white;
  background-color: #333333;
  border-radius: 6px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  outline: none;
  border: none;
  padding: 0.5rem 0.9rem 0.65rem 0.9rem;

  &-select {
    background-color: $magenta;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.7);
  z-index: 99;

  .modal-container {
    margin-top: calc(50vh - 200px);
    margin-left: calc(50vw - 200px);
    width: 400px;
  }

  .cancel-hint-btn {
    float: right;
    border-radius: 50%;
    background-color: #f1f3f4;
    border: none;
  }

  .hint-img {
    width: 100%;
  }
}

.hideOverFlow{
  overflow: hidden;
}

